In [1]:
import pandas as pd
import re

In [2]:
train=pd.read_csv("train.csv")

In [3]:
train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [4]:
train.drop("id",inplace=True,axis=1)

In [6]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [7]:
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()

def clean_sentences(text):
    text = text.lower()
    text = re.sub(r"[^a-z0-9^,!.\/']", " ", text)
    text = " ".join(text.split())
    text = " ".join(stemmer.stem(word) for word in text.split())
    return text

In [8]:
x = train['tweet']
y = train['label']

In [9]:
x = x.map(lambda a: clean_sentences(a))

In [10]:
x.head()

0    user when a father is dysfunct and is so selfi...
1    user user thank for lyft credit i can't use ca...
2                                  bihday your majesti
3    model i love u take with u all the time in ur !!!
4                          factsguid societi now motiv
Name: tweet, dtype: object

In [11]:

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.25,random_state=42)

In [12]:
x_train.head()

19010                                       have a weekend
5474     the world realli is go bonker and it' realli b...
6557                                 made my night hahahha
3617     she' look like a realli good person, stupid am...
5099     must be the first year ever where xbox and pla...
Name: tweet, dtype: object

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [14]:
vectorizer = TfidfVectorizer(stop_words='english')

In [15]:
x_train = vectorizer.fit_transform(x_train)
x_test = vectorizer.transform(x_test)

In [16]:
from sklearn.svm import LinearSVC

model = LinearSVC(C=1.05, tol=0.5)
model.fit(x_train,y_train)

LinearSVC(C=1.05, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.5,
          verbose=0)

In [17]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, f1_score, recall_score
confusion_matrix(y_test,model.predict(x_test))

array([[7375,   57],
       [ 233,  326]])

In [19]:
accuracy_score(y_test,model.predict(x_test))*100

96.37091728194218

In [20]:
recall_score(y_test,model.predict(x_test))

0.5831842576028623